@model Nomad_MVC.Models.Car

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.Id" class="control-label"></label>
                <select asp-for="Category.Id" class="form-control"
                        asp-items="@Model.Categories">
                </select>
                <span asp-validation-for="Category" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Make.Id" class="control-label"></label>
                <select asp-for="Make.Id" class="form-control"
                        asp-items="@Model.Makes">
                </select>
                <span asp-validation-for="Make" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Model.Id" class="control-label"></label>
                <select asp-for="Model.Id" class="form-control"
                        asp-items="@Model.Models">
                </select>
                <span asp-validation-for="Model" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" placeholder="2021"/>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color.Id" class="control-label"></label>
                <select asp-for="Color.Id" class="form-control"
                        asp-items="@Model.Colors">
                </select>
                <span asp-validation-for="Color" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" placeholder="$10000.00"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFile" class="control-label"></label>
                <input asp-for="FormFile" type="file" />
                <span asp-validation-for="FormFile"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
